<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<title>Map Example</title>
<link rel="stylesheet" href="/stylesheets/test.css" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt9NxE1qYhteUkBfodp5S8WKCzo4tQZpA"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<body>
  <div id="map"></div>
  <script src="js/test.js"></script>
</body>
</html>
