<h2 id="title">Welcome to Ember.js</h2>

{{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'faq'}}FAQ{{/link-to}}
  {{#link-to 'pricing'}}Pricing{{/link-to}}
  {{#link-to 'login'}}Log In{{/link-to}}
  {{#link-to 'signup'}}Sign Up{{/link-to}}
{{outlet}}
